@* 

<style>
    .custom-box {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 300px; /* Adjust width as needed */
    }

    /* Positioning the box */
    .bottom-right {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
</style>
@if (ShowToast)
{
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="custom-box bottom-right">
                    <h4>Hello, this is me</h4>
                    <hr />
                    <p>balblabalbalbal</p>
                </div>
            </div>
        </div>
    </div>
}
@code {

    [Parameter]
    public bool ShowToast { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);
        ShowToast = false;
    }

} *@